@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
/* .Request {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
} */
.Request {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #0363AE;
    opacity: 0.85;
    filter: alpha(opacity=85);
    z-index: 1;
    font-family: roboto;
}
h4 {
    color: #fff;
}
.welcome {
    font-weight: 200;
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
    color: rgba(255, 255, 255, 0.65);

  }

select {
    color: rgb(169, 169, 169);
}
.subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    color: rgba(255, 255, 255, 0.65);
  } 

@media (min-width: 600px) {
    .Request {
        width: 500px;
    }
}